body {
  background: #d3eee1;
}

.App {
  padding: 40px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: #9670f4;
}

.App-header {
  margin: 30px 0;
  font-size: 40px;
  font-weight: bold;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
